<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Genre</title>
  </head>
  <body>
    <form action="/genres/add" method="post" enctype="multipart/form-data" id="add-genre">
      
      <%- include("../partials/genre-inputs", { errors: locals.errors, formData: locals.formData, isAdd: true, form: "add-genre"}) %>

      <button type="submit" form="add-genre">Add Genre</button>
    </form>
  </body>
</html>
