<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/deleteGenre.js" defer></script>
    <title>Genres</title>
  </head>
  <body>
    <a href="/genres/add">Add Genre</a>
    <h1>Genres:</h1>
    <ul>
      <% genres.forEach(genre => { %>
      <li>
        <%= genre.name %>
        <button type="button" onClick="deleteGenre(<%= genre.id %>)">
          Delete
        </button>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
