<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <title>Genres</title>
  </head>
  <body>
    <%- include("../partials/header", { activeEntity: "genres", addButtonText: "Add Genre" }) %>

    <h1>Genres:</h1>
    <ul>
      <% genres.forEach(genre => { %>
      <li>
        <%= genre.name %>
        <button type="button" onClick="deleteEntity('genre', <%= genre.id %>, '/genres/delete', '/genres')">
          Delete
        </button>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
