<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <title>Update Genre</title>
  </head>
  <body>
      <%- include("../partials/genre-inputs", { errors: locals.errors, formData: locals.formData, form: "update-genre"}) %>
      <button type="button" onclick="updateGenre(<%= id %>)" fomr="update-genre">Update Genre</button>
  </body>
</html>
