<% const fieldError = locals.errors && errors.find(err => err.path === fieldName); %>

<% if (fieldError || locals.visible) { %>
<span class="error" data-path="<%= locals.fieldName %>"><%= fieldError && fieldError.msg %></span>
<% } %>
