:root {
  --header-height: 70px;
  --dark-theme-100: #10151a;
  --dark-theme-200: #36404b;
  --dark-theme-text-100: #ffffff;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: var(--dark-theme-100);
  color: var(--dark-theme-text-100);
}

/* Toggleable Forms */

.toggle-form {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin: 10px 0;
}

.toggle-form.show {
  max-height: fit-content;
}

/* Header */

body > header {
  display: flex;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
  padding: 0 12px;
  height: var(--header-height);
  border-bottom: 1px solid var(--dark-theme-200);
}

body > header > .add-button {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  gap: 6px;
}

body > header img {
  width: 1rem;
}

body > header a,
body > header a.link,
body > header a.hover,
body > header a.link,
body > header a.visited {
  text-decoration: none;
  color: var(--dark-theme-text-100);
}

body > header a.active {
  background-color: red;
}

/* Cards */

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  justify-content: center;
  justify-items: center;
  gap: 12px;
  box-sizing: border-box;
  padding: 10px;
}

.card {
  background-color: black;
  overflow: hidden;
  width: min(340px, 95vw);
  box-sizing: border-box;
  aspect-ratio: 2.5/3;
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-family: monospace;
}

.card > .cover-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.card img.cover {
  width: 100%;
  object-fit: contain;
}

.card > .card-data {
  box-sizing: border-box;
  padding: 8px 0;
  height: 20%;
  box-sizing: border-box;
  padding: 4px;
}

.card .data-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 8px 0;
}

.card .age-ratings,
.card .platforms {
  display: flex;
  gap: 4px;
}

.card .platform,
.card .rating {
  width: 22px;
}

.card .game-title,
.name {
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  padding: 0 8px;
}

.card .ratings {
  display: flex;
  gap: 8px;
  justify-content: end;
  padding: 12px;
  color: white;
  font-size: 14px;
}

.card .ratings img {
  width: 18px;
}

.card .rating-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

a.card-anchor,
a.card-anchor:active,
a.card-anchor:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Games Page Layout */
.outer-container {
  display: flex;
  min-height: calc(100vh - var(--header-height));
}

.outer-container aside {
  border-right: 1px solid var(--dark-theme-200);
  padding-right: 10px;
}

.outer-container aside h3,
.outer-container aside a,
.outer-container aside a:active,
.outer-container aside a:visited,
.outer-container aside a:link,
.outer-container aside a:hover {
  color: white;
  text-decoration: none;
}

.sort-by-outer-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 349px);
  justify-content: center;
  padding: 0 10px;
}

.sidebar-toggle {
  display: none;
}

@media (max-width: 650px) {
  .sidebar-toggle {
    display: block;
    position: absolute;
    width: 24px;
    top: 0;
    right: -24px;
    z-index: 1;
    cursor: pointer;
  }

  aside.expanded .sidebar-toggle {
    right: 0;
  }

  aside:not(.expanded) img.collapse {
    display: none;
  }

  aside.expanded img.expand {
    display: none;
  }

  .outer-container aside {
    background-color: red;
    width: 0;
    position: relative;
    transition: width 0.1s;
    padding: 0;
  }

  .outer-container aside.expanded {
    background-color: red;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  body.expanded-sidebar {
    overflow: hidden;
  }
}

.outer-container main {
  position: relative;
}

.outer-container main {
  flex: 1;
}

.options-button {
  cursor: pointer;
  padding: 0;
  display: flex;
  background: transparent;
  border: none;
}

.options.hidden {
  display: none;
}

.options {
  display: flex;
  align-items: center;
  background-color: aqua;
}

.options > * {
  flex: 1;
}

/* Genre and Platform selectors */

.genre-selector,
.platform-selector {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  margin: 20px;
}

.genre-bubble,
.platform-bubble,
.add-genre {
  display: flex;
  align-items: center;
}

.genre-anchor {
  flex: 1;
}

.genre-anchor section,
.platform-anchor section {
  display: flex;
  gap: 4px;
  align-items: center;
}

.genre-bubble.active,
.platform-bubble.active {
  background-color: lightblue;
}

.genre-bubble img,
.platform-bubble img,
.options-button img {
  width: 16px;
  height: 16px;
}

/* Page Selector */

.page-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: auto 0 24px;
}

.page-selector a,
.page-selector a:active,
.page-selector a:visited,
.page-selector a:hover {
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

.page-selector a.active {
  background-color: pink;
}

.page-selector .previous,
.page-selector .next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

/* Search bar */

.searchbar-wrapper {
  margin: 20px 0;
}

#search-results.active + .search-backdrop {
  background-color: #0000004b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#searchbar {
  display: flex;
  border: 1px solid gray;
  gap: 8px;
  padding: 4px 8px;
  box-sizing: border-box;
  width: min(300px, 90%);
  margin: 0 auto;
  justify-content: space-between;
  background-color: white;
  position: relative;
  z-index: 1;
}

#searchbar:focus-within {
  border-color: blue;
}

#searchbar input,
#searchbar input:focus-visible {
  border: none;
  outline: none;
  background-color: white;
}

#searchbar img {
  width: 14px;
  object-fit: contain;
}

#search-results {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: min(300px, 90%);
  background-color: white;
  position: absolute;
  z-index: 1;
  left: calc(50% - min(150px, 45%));
}

#search-results.active {
  border: 1px solid gray;
}

#search-results:not(.active) {
  display: none;
}

.result-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.result-item img {
  width: 60px;
}

.result-item p {
  flex: 1;
}

.entity-title {
  background-color: lightgray;
  padding: 4px 0;
}

.entity-title:not(:first-child) {
  margin-top: 10px;
}

/* Gallery */

.gallery-images .images-wrapper,
.gallery-videos .videos-wrapper {
  display: flex;
  gap: 8px;
}

.gallery-images .image-wrapper,
.gallery-videos .video-wrapper,
[class*="preview-wrapper"] .image-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.gallery-videos .video-wrapper {
  width: fit-content;
}

.gallery-images .remove-button,
.gallery-videos .remove-button,
[class*="preview-wrapper"] .remove-button {
  width: 18px;
  margin-left: auto;
  cursor: pointer;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: min(800px, 95%);
  margin: 0 auto;
}

.selected-image-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.selected-image-container > * {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery-previews {
  display: flex;
  gap: 4px;
  overflow: auto;
  height: 115px;
}

.preview-wrapper {
  position: relative;
  display: flex;
}

.preview-wrapper .video-icon {
  position: absolute;
  width: 30%;
  top: 35%;
  left: 35%;
  pointer-events: none;
}

.gallery-preview {
  cursor: pointer;
  border: 2px solid transparent;
}

.gallery-preview.selected {
  border-color: white;
}

.gallery-max-warning {
  color: red;
}

.gallery-max-warning.hidden,
.gallery-video-warning.hidden,
#hidden-videos-input {
  display: none;
}

/* Delete modal */

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.modal-backdrop.hidden {
  display: none;
}

.delete-modal {
  background-color: white;
  width: min(95%, 450px);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  gap: 22px;
}

.delete-modal header {
  display: flex;
  justify-content: end;
  background-color: lightgray;
  padding: 4px 0;
}

.delete-modal header button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.delete-modal header img {
  width: 0.9rem;
}

.delete-modal .text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-self: center;
  gap: 12px;
}

.delete-modal .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.delete-modal .modal-actions {
  display: flex;
  justify-content: end;
  padding: 8px;
  gap: 6px;
}

.delete-modal .modal-actions button {
  cursor: pointer;
}

.delete-modal .password-button img {
  width: 16px;
}

.delete-modal .password-button.hidden,
.delete-modal .password-warning.hidden,
.delete-modal .wrong-password-warning.hidden {
  display: none;
}

.delete-modal .password-warning,
.delete-modal .wrong-password-warning {
  color: red;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
