* {
  margin: 0;
}
/* Toggleable Forms */

.toggle-form {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin: 10px 0;
}

.toggle-form.show {
  max-height: fit-content;
}

/* Header */

header {
  background-color: grey;
  display: flex;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
  padding: 0 12px;
  height: 48px;
}

header > .add-button {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  gap: 6px;
}

header img {
  width: 1rem;
}

header a.active {
  background-color: red;
}

/* Cards */

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  justify-items: center;
  gap: 12px;
}

.card {
  background-color: black;
  overflow: hidden;
  width: min(320px, 95vw);
  box-sizing: border-box;
  aspect-ratio: 2.5/3;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card > .cover-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.card img.cover {
  width: 100%;
  object-fit: contain;
}

.card > .card-data {
  box-sizing: border-box;
  padding: 8px 0;
  height: 20%;
  box-sizing: border-box;
  padding: 4px;
}

.card .data-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .age-ratings,
.card .platforms {
  display: flex;
  gap: 4px;
}

.card .platform,
.card .rating {
  width: 22px;
}

.card .game-title,
.name {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
}

a.card-anchor,
a.card-anchor:active,
a.card-anchor:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Genre selector */

.genre-selector {
  display: flex;
  gap: 4px;
}

.genre-selector .genre-bubble {
  background-color: lightgray;
  display: flex;
  gap: 4px;
}

.genre-selector .genre-bubble.active {
  background-color: lightblue;
}

.genre-bubble img {
  width: 16px;
}

/* Page Selector */

.page-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.page-selector a,
.page-selector a:active,
.page-selector a:visited,
.page-selector a:hover {
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

.page-selector a.active {
  background-color: pink;
}

.page-selector .previous,
.page-selector .next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

/* Search bar */

#search-results.active + .search-backdrop {
  background-color: #0000004b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#searchbar {
  display: flex;
  border: 1px solid gray;
  gap: 8px;
  padding: 4px 8px;
  box-sizing: border-box;
  width: min(300px, 90%);
  margin: 12px auto 0;
  justify-content: space-between;
  background-color: white;
  position: relative;
  z-index: 1;
}

#searchbar:focus-within {
  border-color: blue;
}

#searchbar input,
#searchbar input:focus-visible {
  border: none;
  outline: none;
  background-color: white;
}

#searchbar img {
  width: 14px;
  object-fit: contain;
}

#search-results {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: min(300px, 90%);
  background-color: white;
  position: absolute;
  z-index: 1;
  left: calc(50% - min(150px, 45%));
}

#search-results.active {
  border: 1px solid gray;
}

#search-results:not(.active) {
  display: none;
}

.result-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.result-item img {
  width: 60px;
}

.result-item p {
  flex: 1;
}

.entity-title {
  background-color: lightgray;
  padding: 4px 0;
}

.entity-title:not(:first-child) {
  margin-top: 10px;
}
