* {
  margin: 0;
}
/* Toggleable Forms */

.toggle-form {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin: 10px 0;
}

.toggle-form.show {
  max-height: fit-content;
}

/* Header */

header {
  background-color: grey;
  display: flex;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
  padding: 0 12px;
}

header > .add-button {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  gap: 6px;
}

header img {
  width: 1rem;
}

header a.active {
  background-color: red;
}

/* Cards */

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  justify-items: center;
  gap: 12px;
}

.card {
  background-color: black;
  overflow: hidden;
  width: min(320px, 95vw);
  box-sizing: border-box;
  aspect-ratio: 2.5/3;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card > .cover-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.card img.cover {
  width: 100%;
  object-fit: contain;
}

.card > .card-data {
  box-sizing: border-box;
  padding: 8px 0;
  height: 20%;
  box-sizing: border-box;
  padding: 4px;
}

.card .data-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .age-ratings,
.card .platforms {
  display: flex;
  gap: 4px;
}

.card .platform,
.card .rating {
  width: 22px;
}

.card .game-title,
.name {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
}

a.card-anchor,
a.card-anchor:active,
a.card-anchor:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Genre selector */

.genre-selector {
  display: flex;
  gap: 4px;
}

.genre-selector .genre-bubble {
  background-color: lightgray;
  display: flex;
  gap: 4px;
}

.genre-selector .genre-bubble.active {
  background-color: lightblue;
}

.genre-bubble img {
  width: 16px;
}
