<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= publisher.name %></title>
  </head>
  <body>
    <p><%= publisher.name %></p>
    <p><%= publisher.description %></p>
  </body>
</html>
