<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/script.js" defer></script>
    <title>Publishers</title>
  </head>
  <body>
    <a href="/publishers/add">Add Publisher</a>
    <h1>Publishers:</h1>
    <ul>
      <% publishers.forEach(publisher => { %>
      <li>
        <%= publisher.name %>
        <button type="button" onClick="deleteEntity('publisher', <%= publisher.id %>, '/publishers/delete', '/publishers')">
          Delete
        </button>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
